<div style='overflow-y: hidden; float: left; '>
    <div class="card border-info mb-3" style="max-width: 20rem; margin-left: 5%">
        <div class="card-header">{{user.nickname}}</div>
        <div class="card-body">
            <h5 class="card-title">{{user.fullName}}</h5>
            <p class="card-text">{{user.webSite}}</p>
            <p class="card-text">{{user.bio}}</p>
        </div>
    </div>

    {{#if ownProfile}}
        <div class="card border-info mb-3" style="max-width: 50rem; padding: 1rem; margin-left: 5%">
            <h6>Edit information about profile:</h6>
            <div class="form-group ">
                <span>Full name:</span>
                <input type="text" name="fullName" id="fullName-{{user.id}}" value="{{user.fullName}}" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" name="nickname" id="nickname-{{user.id}}" value="{{user.nickname}}"
                       class="form-control"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="form-group ">
                <span>Web site:</span>
                <input type="text" name="webSite" id="webSite-{{user.id}}" value="{{user.webSite}}"
                       class="form-control">
            </div>
            <div class="form-group ">
                <span>BIO:</span>
                <input type="text" name="bio" id="bio-{{user.id}}" value="{{user.bio}}" class="form-control">
            </div>

            <button type="submit" onclick="updateProfile({{user.id}})" id="submit" class="btn btn-outline-info">Save
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="history.back();">Back</button>
        </div>
    {{/if}}

    <p></p>
    {{#if ownProfile}}
        <div>
            {{#if  allowViewPublishers}}
                <h6 style="margin-left: 5%">Your publishers:</h6>
                <div class="card border-info mb-3" style="max-width: 50rem; padding: 1rem; margin-left: 5%">
                    {{#each publishers}}
                        {{>publisher}}
                    {{/each}}
                </div>
            {{/if}}
        </div>


        <div style="margin-left: 5%" class="block-left">
            <input type="text" name="search" class="form-control input-search" placeholder="Search users..." required>
            <br>
            <button type="submit" onclick="resultSearch()" class="btn btn-outline-dark search-button">
                Search
            </button>
            <div name="text"></div>
            <ul class="nav flex-column" name="link"></ul>
        </div>
    {{/if}}

</div>

{{#if message}}
    <div class="error">
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </div>
{{/if}}

<div style='overflow-y: scroll; margin-top: 1rem;'>
    {{#each photos}}
        <div class="card"
             style="width: 50%; position: relative; margin-right: 5%; margin-left: 25%; margin-bottom: 3%">
            {{>photo this ownProfile=@root.ownProfile isProfilePage=@root.isProfilePage nickname=@root.user.nickname noAllowedToGoToProfile=@root.noAllowedToGoToProfile}}
        </div>
    {{/each}}
</div>


